/grammars/apt.interp
/grammars/apt.tokens
/grammars/aptLexer.*
/grammars/*.py
/grammars/*.jar
/grammars/*.java
/grammars/*.class
/grammars/grammar.pgt

__pycache__
*.pyc
*.pyo
/*.egg-info
*.srctrlbm
*.srctrldb
build
dist
.eggs
monkeytype.sqlite3
/.ipynb_checkpoints

.ninja_log
.ninja_deps
/tests/lan_proto_test
